{% extends 'base.html.twig' %}

{% block title %}Nouveau Match • TenCourt{% endblock %}

{% block body %}

<div class='background'>
<h1 class="topTitle my-0">Créer un Match</h1>
   <div class="containerMainTop">
        <div class="createMatchForm text-center">
            {{ form_start(tennismatchform) }}
          
              {{ form_widget(tennismatchform) }}
                <div class="createMatchSaveItemForm">
                    <button class="btn col-6">{{ button_label|default('Créer le match') }}</button>
                </div>
            </div>
            {{ form_end(tennismatchform) }}
        </div>
    </div>
</div>
{% endblock %}
